/*CSS reset settings here*/
*{
 margin: 0px;
 padding: 0px;
}
p{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}
.yellownormaltext{
    color: #ceaf05;
    font-size: 12px;
}
.blacknormaltext{
    color: black;
    font-size: 12px;
}
#headermain{
    background-color: #245176;
    display: inline-block;
    width: 970px;
}
#headerleft{
    Width: 485px;
    background-color: #245176;
    display: inline-block;
}
#headerright{
    Width: 485px;
    background-color: #245176;
    display: inline-block;  
    vertical-align: top;  
}
#sizeadjuster{
    margin-left: 300px;
    line-height: 30px;
    background-color: #245176;
    display: inline-block;  
}
#searchboxborder{
    background-color: #444444;
    width: 250px;
    height: 50px;
    box-shadow: 3px 3px 3px #292929;
    border-radius: 8px;
    margin-left: 200px;
    margin-bottom: 100px;
}
#searchbox{
    width: 140px;
    height: 30px;
    margin-left: 40px;
    margin-top: 10px;
}
input.placeholder{
    text-align: center;
}
::-webkit-input-placeholder {
    color: purple;
    margin: 0 auto;
}
:-ms-input-placeholder{
    color: orange;
    text-align: center;
}
#gobutton{
    font-size: 12px;
    background-color: #245176;
    box-shadow: 3px 3px 3px #292929;
    display: inline-block;    
    border-color: #bebebf;
    width: 30px;
    height: 20px;
    border-style: outset;
    border-width: 2px;
    border-radius: 5px;
    border-color: #bebebf;
    color: white;
    text-align: center;
    padding-top: 3px;
}
#navmain{
    background-color: #245176;
    display: inline-block;

}
.navbuttonleft{
    background-image: linear-gradient(#3474ac,#487eac,#3474ac);
    width: 140px;
    display: inline-block;
    height: 35px;
    font-size: 20px;
    color: white;
    padding-top: 10px;
    vertical-align: top;
}
.navbuttonmid{
    background-image: linear-gradient(#3474ac,#487eac,#3474ac);
    width: 140px;
    display: inline-block;
    height: 35px;
    font-size: 20px;
    color: white;
    padding-top: 10px;
    vertical-align: top;
}
.navbuttonright{
    background-image: linear-gradient(#3474ac,#487eac,#3474ac);
    width: 140px;
    display: inline-block;
    height: 35px;
    font-size: 20px;
    color: white;
    padding-top: 10px;
    vertical-align: top;
}











#aboutmain{
    display: inline-block;
    background-color: #245176;
    width: 970px;
}
#leftaboutaside{
    display: inline-block;
    background-color: #245176;
    height: 100px;
    width: 50%
}
#aboutsection{
    display: inline-block;
    background-color: #245176;
    vertical-align: top;
    width: 49%;
}
#aboutheading{
    background-color: white;

}
#aboutarticle{
    background-color: white;

}
#mainsection{  
    width: 970px;  
}
#mainleftsection{
display: inline-block;
    width: 50%
}
#mainrightsection{
display: inline-block;
    width: 49%
}
footer{
    background: linear-gradient(#275378, #3877ae);
    width: 970px;
    
}