/* Created: 5/25/2017 by Troy Center, troycenter1@gmail.com. 
Coding Dojo HTML CSS AboutPython project */

/*CSS reset settings here*/
*{
 margin: 0px;
 padding: 0px;
}

/*****************************************************************/
/*               HEADER                                          */
/*****************************************************************/

.whitenormaltext{
    color: white;
    font-size: 12px;
    padding-right: 5px;
}
.yellownormaltext{
    color: #ceaf05;
    font-size: 12px;
}
.blacknormaltext{
    color: black;
    font-size: 12px;
}
#headermain{
    background-color: #245176;
    display: inline-block;
    width: 970px;
}
#headerleft{
    display: inline-block;
}
#headerright{
    display: inline-block;  
    vertical-align: top;  
}
#sizeadjuster{
    margin-left: 200px;
    line-height: 30px;
    background-color: #245176;
    display: inline-block;  
}
#searchboxborder{
    background-color: #444444;
    width: 220px;
    height: 50px;
    box-shadow: 3px 3px 3px #292929;
    border-radius: 8px;
    margin-left: 120px;
    margin-bottom: 100px;
}
#searchbox{
    width: 140px;
    height: 30px;
    margin-left: 20px;
    margin-top: 10px;
}
input.placeholder{
    text-align: center;
}
::-webkit-input-placeholder {
    color: purple;
    margin: 0 auto;
}
:-ms-input-placeholder{
    color: orange;
    text-align: center;
}
#gobutton{
    font-size: 12px;
    background-color: #245176;
    box-shadow: 3px 3px 3px #292929;
    display: inline-block;    
    border-color: #bebebf;
    width: 30px;
    height: 20px;
    border-style: outset;
    border-width: 2px;
    border-radius: 5px;
    border-color: #bebebf;
    color: white;
    text-align: center;
    padding-top: 3px;
}

/*****************************************************************/
/*                    NAVBAR                                     */
/*****************************************************************/

#navmain{
    background-color: #245176;
    width: 970px;
    height: 50px;
}
#navmain ul{
    text-align: center;
    width: 900px;
}
#navmain ul li{
    background-image: linear-gradient(#3474ac,#487eac,#3474ac);
    font-size: 20px;
    width: 135px;
    height: 30px;
    padding-top: 10px;
    color: white;
    display: inline-block;
    box-shadow: 3px 3px 3px #292929;
}
#navmain ul li:nth-child(1){
    background-image: linear-gradient(#3474ac,#4584b6,#3474ac);
    font-size: 20px;
    color: white;
    margin-right: -10px;
    border-radius: 8px;
}
#navmain ul li:nth-last-child(1){
    background-image: linear-gradient(#3474ac,#487eac,#3474ac);
    font-size: 20px;
    color: white;
    margin-left: -10px;
    border-radius: 8px;
}

/*****************************************************************/
/*     This is the Main Information CSS content                  */
/*****************************************************************/

#MainInformation{
    width: 970px;
    height: 300px;
    background-color: #245176;
    list-style: none;
}
#pythonlinks{
    display: inline-block;
    height: inherit;
    width: 25%;
    vertical-align: top;
    
}
#pythonlinks ul{
    list-style: none;
    text-decoration: underline;
    color: white;
    text-align: center;
    margin-top: 40px;
    line-height: 30px;
}
#pythonlinks ul span{
    color: #ceaf05;
    font-size: 8px;    
    margin: 10px;
}
#thezenofpython{
    display: inline-block;
    height: inherit;
    width: 75%;
}
#thezenofpython p{
    color: white;
    text-align: center;
    font-size: 15px;
    margin: 20px 30px 10px 30px;
}
#thezenofpython ul{
    line-height: 30px
}
#thezenofpython ul li{
    color: #ceaf05;
    list-style: none;
    text-align: center;
    font-style: italic;
    font-size: 18px;
    list-style: none;
}
#thezenofpython ul li:nth-last-child(1){
    color: white;
}

/*****************************************************************/
/* This is the getting started section and application sections. */
/*****************************************************************/

#gettingstartedmain{
    Width: 870px
    height: 500px;
    text-align: center;
}
.horizontalbar{
    background-color: #73a7d5;
    margin: 10px 20px 0px 20px;
    height: 4px;
    width: 400px;
}

/*****************************************************************/
/*             Getting Started section                           */
/*****************************************************************/

#gettingstarted{
    width: 435px;
    display: inline-block;
    vertical-align: top;
    text-align: center;
}

#gettingstarted h1{
    text-align: center;
    margin: 10px auto;

}
#gettingstarted p{
    margin: 0px 80px auto;
    font-size: 13px;
}
#gettingstarted ul{
    list-style: square;    
    font-size: 13px;
    line-height: 20px;
    margin: 10px 100px;
}
#gettingstarted ul li{
    color: black;
    font-size: 20px;
}
#gettingstarted ul li span{
    color: #73a7d5;
    font-size: 14px;
}

/*****************************************************************/
/*          Applications  section                                */
/*****************************************************************/


#applications{
    width: 435px;
    display: inline-block;
    vertical-align: top;
    text-align: center;
}
#applications h1{
    text-align: center;
    margin: 10px auto;

}

#applications p{
    margin: 0px 80px auto;
    font-size: 13px;
}
#applications p span{
    color: #73a7d5;
    font-size:12px;    
}

#applications ul{
    list-style: square;    
    font-size: 13px;
    line-height: 20px;
    margin: 10px 100px;
}
#applications ul li{
    color: black;
    font-size: 20px;
}
#applications ul li span{
    color: #73a7d5;
    font-size: 14px;
}

/*****************************************************************/
/*          Footer  section                                */
/*****************************************************************/

#footer{
   background-image: linear-gradient(#255378,#3272a9);
   width: 970px;
   height: 100px;
}
#footer ul{
    font-size: 18px;
    list-style-type: none;
    text-align: center;
}
#footer ul li{
    display: inline-block;
    color: #7aadd9;
    padding: 20px 50px;
    margin-top: 20px;
}
#footer p{
    color: #7aadd9;
    text-align: center;
    font-size: 10px;
}
