/* Created: 5/25/2017 by Troy Center, troycenter1@gmail.com. 
Coding Dojo HTML CSS AboutPython project */

/*CSS reset settings here*/
*{
 margin: 0px;
 padding: 0px;
}
.whitenormaltext{
    color: white;
    font-size: 12px;
    padding-right: 5px;
}
.yellownormaltext{
    color: #ceaf05;
    font-size: 12px;
}
.blacknormaltext{
    color: black;
    font-size: 12px;
}
#headermain{
    background-color: #245176;
    display: inline-block;
    width: 970px;
}
#headerleft{
    display: inline-block;
}
#headerright{
    display: inline-block;  
    vertical-align: top;  
}
#sizeadjuster{
    margin-left: 200px;
    line-height: 30px;
    background-color: #245176;
    display: inline-block;  
}
#searchboxborder{
    background-color: #444444;
    width: 220px;
    height: 50px;
    box-shadow: 3px 3px 3px #292929;
    border-radius: 8px;
    margin-left: 120px;
    margin-bottom: 100px;
}
#searchbox{
    width: 140px;
    height: 30px;
    margin-left: 20px;
    margin-top: 10px;
}
input.placeholder{
    text-align: center;
}
::-webkit-input-placeholder {
    color: purple;
    margin: 0 auto;
}
:-ms-input-placeholder{
    color: orange;
    text-align: center;
}
#gobutton{
    font-size: 12px;
    background-color: #245176;
    box-shadow: 3px 3px 3px #292929;
    display: inline-block;    
    border-color: #bebebf;
    width: 30px;
    height: 20px;
    border-style: outset;
    border-width: 2px;
    border-radius: 5px;
    border-color: #bebebf;
    color: white;
    text-align: center;
    padding-top: 3px;
}

/* NAVBAR */
#navmain{
    background-color: #245176;
    width: 970px;
    height: 50px;
}
#navmain ul{
    text-align: center;
    width: 900px;
}
#navmain ul li{
    background-image: linear-gradient(#3474ac,#487eac,#3474ac);
    font-size: 20px;
    width: 135px;
    height: 30px;
    padding-top: 10px;
    color: white;
    display: inline-block;
}
#navmain ul li:nth-child(1){
    background-image: linear-gradient(#3474ac,#4584b6,#3474ac);
    font-size: 20px;
    color: white;
    margin-right: -10px;
    border-radius: 8px;
}
#navmain ul li:nth-last-child(1){
    background-image: linear-gradient(#3474ac,#487eac,#3474ac);
    font-size: 20px;
    color: white;
    margin-left: -10px;
    border-radius: 8px;
}

/* This is the Main Information CSS content*/
#MainInformation{
    width: 970px;
    height: 300px;
    background-color: #245176;
}
#pythonlinks{
    display: inline-block;
    height: inherit;
    width: 50%;
    background-color: red;
}
#thezenofpython{
    display: inline-block;
    height: inherit;
    width: 50%;
    background-color: yellow;
}
